<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kampusku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name="com.example.kampusku.MyApp"
        android:allowBackup="true"
        android:fitsSystemWindows="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity android:name=".Image.GambarKampus">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Daftar.Daftar" />
        <activity android:name=".Admin.UpdateProdi" />
        <activity android:name=".Admin.TambahProdi" />
        <activity android:name=".Admin.ProdiActivity" />
        <activity
            android:name=".BottomActivity"
            android:label="@string/title_activity_bottom" />
        <activity android:name=".Admin.AdminLoginActivity" />
        <activity
            android:name=".Admin.AdminActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Kampus.UpdateKampus" />
        <activity android:name=".Kampus.DetailActivity" />
        <activity android:name=".Kampus.TambahKampus" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.EditProfile" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Kampus.KampusList" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".MapsDetailActivity" />
    </application>

</manifest>